.news-letter {
  background-color: #f5f5f5;
  width: 955px;
  max-width: 100%;
  margin: auto;
  padding: 72px 0;
  text-align: center;
  margin: 80px auto;
}

.news-letter h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
}

.news-letter p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 100%;
}

.news-letter input[type="email"] {
  width: 320px;
  height: 48px;
  border-radius: 25px 0 0 25px;
  padding: 0;
  padding-left: 24px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid #3e3e3e;
  box-sizing: border-box;
}

.news-letter button[type="submit"] {
  border-radius: 0 25px 25px 0;
  background-color: #614dc9;
  border: 1px solid #614dc9;
  height: 48px;
  padding: 0 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .news-letter {
    width: 880px;
    padding: 50px 0;
    margin: 70px auto;
  }

  .news-letter h3 {
    font-size: 22px;
  }

  .news-letter p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
  }

  .news-letter input[type="email"] {
    height: 46px;
    font-size: 12px;
    line-height: 18px;
  }

  .news-letter button[type="submit"] {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 576px) {
}
