.container {
  width: 1440px;
  max-width: 90%;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1180px;
    max-width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 92%;
    max-width: 92%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 92%;
    max-width: 92%;
  }
}
