.product-slider {
  margin-top: 90px;
}

.product-slider h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.product-slider hr {
  margin: auto;
  width: 66px;
  height: 6px;
  background-color: #33c6dd;
  margin-bottom: 70px;
}

.product-details .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.product-details .container .product {
  width: 33%;
  border: 1px solid #dddddd;
  margin: 0 8px;
  border-radius: 8px;
  text-align: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.new::before {
  content: "New";
  position: absolute;
  top: 12px;
  right: 12px;
  text-align: center;
  color: white;
  background-color: #614dc9;
  border-radius: 16px;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 26px;
}
.product-details {
  cursor: pointer;
}
.product-info h5 {
  color: #33c6dd;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.product-info h4 {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.product-info .price h3 {
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  margin-top: 0;
}

.product-info .price span.verginal-price {
  margin: 0 10px;
  text-decoration: line-through;
}

.product-info .price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.product-info .price.discount h3 {
  color: #ec1c1c;
}

.product-info button {
  font-weight: 400;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 220px;
  height: 44px;
  border-radius: 25px;
  color: #000000;
  max-width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

.product-info button:hover {
  cursor: pointer;
  background-color: #33c6dd;
  border: 10px solid #33c6dd;
}

@media screen and (max-width: 1440px) {
  .product-info h5 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .product-info h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .product-info .price h3 {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .product-info .price span.verginal-price {
    margin: 0 10px;
    font-size: 14px;
    line-height: 21px;
  }

  .product-info button {
    font-size: 14px;
    line-height: 21px;
    width: 180px;
    height: 40px;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 576px) {
}
